.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  align-self: flex-start;
}

.App-header {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.get-data {
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.data {
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: row; */
}
